werkzeug
flask
flask-restful
Flask-Testing
flask-sqlalchemy
flask-discoverer
Flask-Migrate
requests
httpretty
SQLAlchemy
psycopg2
testing.postgresql
nose
coveralls
ConcurrentLogHandler
fake-factory
factory_boy
git+https://github.com/adsabs/flask-consulate@8d7e60122cbc73693ac37a5468b9be78bea774a1#egg=flask-consulate
